#lobby-container {
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
}

.pop-up {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 25px 20px;
    border-radius: 5px;
    font-size: 22px;
    margin-top: -210px;
}

.pop-up button {
    background-color: rgb(199, 199, 199);
}

.pop-up button:active {
    background-color: rgb(105, 105, 105);
}

.players-container {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.players-container p {
    margin: 0;
}

.players-container li {
    list-style-type: circle;
}

.message-container {
    background-color: white;
    border-radius: 5px;
    margin: 15px auto;
    padding: 0 10px;
    max-height: 85px;
    overflow-x: hidden;
    overflow-y: auto;
}

.start-buttons-div {
    text-align: center;
    margin-top: 15px;
}

.white {
    color: white;
}

.host-buttons {
    display: flex;
    justify-content: space-around;
}

.host-buttons button {
    margin: 0 10px;
}

.lobby-id {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}