#leaderboard-container {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 15px;
}

.leaderboard {
    background-color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 18px;
}

.leaderboard-item {
    display: flex;
    justify-content: space-between;
}

.leaderboard-heading {
    font-weight: 800;
}