#game-container {
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
}

.game-id,
.countdown,
h2,
.category {
    color: white;
}

.waiting-p {
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.waiting-div {
    padding-top: 20px;
}

.results-button-container {
    text-align: center;
}

.results-link {
    color: inherit;
    text-decoration: none;
}