@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&family=Patua+One&display=swap');

* {
    font-family: "Nanum Gothic";
    box-sizing: border-box;
}

html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    background-color: rgb(5, 31, 175);
}

#root {
    height: 100%;
}
